### Functions
1) Functions facilitate reusability of code.<br>
2) They prevent code repetition<br>


#### Types of Functions
1) <b>Built-in Function</b> - print(),input(),len(),type(), list().append()<br>

2) <b>User Defined Functions/Custom  Functions</b><br>
They are created by user/developers to solve a problem statement

#### User Defined Functions

They consist of two parts<br>
1) Function definition<br>
2) Function calling - Functions are called using function name

#### Types of User defined Functions
1) Non-parameterized<br>
2) Parameterized

### Non-Parameterised Functions

In [2]:
# WAF to find sum of 2 numbers ?
# function definition
def sum2num() :
    a = int(input())
    b = int(input())
    print('sum of ',a,'and',b,'is',a+b)

In [9]:
# function calling
sum2num()

 25
 34

sum of  25 and 34 is 59

In [4]:
sum2num()

30
40
sum of  30 and 40 is 70

#### Exercise
Q1) Write a Function to compute speed given distance and time. Accept distance and time as user inputs<br>
Q2) Write a Function to print area of circle using its radius as user input<br>
Q3) Write a Function to print the diagonal and perimeter of rectangle. Accept length and area as user inputs<br>

In [6]:
def compute_speed():
    d = int(input('Enter dist in km: '))
    t = int(input('Enter time in hrs: '))
    s = d/t
    print('Speed is',round(s,2),'kmph')
    
compute_speed()

Enter dist in km:  400
Enter time in hrs:  5

Speed is 80.0 kmph

### Parameterised Functions

In [13]:
# WAF to compute prod of 2 num (n1,n2)

# function definition
def prod2num(x,y,z):  # a and b are function arguments/parameters
    print(x*y+z)
    print(x+y-z)
    print(x-y/z)
    print(x/y*z)

In [15]:
prod2num(5,7,4)

39
8
3.25
2.857142857142857

In [16]:
# Q1) Find the factors of a num

# 12 - 1,2,3,4,6,12

def find_factors(n):
    factors = [i for i in range(1,n+1) if n%i==0]
    print('factors',factors)

In [17]:
find_factors(22)

factors [1, 2, 11, 22]

In [18]:
r = [19,23,34,45,56,67,67]
c = 0
for i in r:
    c += 1
print(c)

7

In [31]:
# Q2) Check if num is prime 
# Prime number has only 2 factors = [1, iteself]
def check_prime(n):  # 11
    c = 0   # used to store count of factors
    for i in range(1,n+1):
        if n%i==0:
            c += 1
    if c == 2 :
        print(n,'is Prime')
    else:
        print(n,'is not Prime')

In [32]:
for i in range(2,30):
    check_prime(i)

2 is Prime
3 is Prime
4 is not Prime
5 is Prime
6 is not Prime
7 is Prime
8 is not Prime
9 is not Prime
10 is not Prime
11 is Prime
12 is not Prime
13 is Prime
14 is not Prime
15 is not Prime
16 is not Prime
17 is Prime
18 is not Prime
19 is Prime
20 is not Prime
21 is not Prime
22 is not Prime
23 is Prime
24 is not Prime
25 is not Prime
26 is not Prime
27 is not Prime
28 is not Prime
29 is Prime

In [ ]:
# Electricity bill 

# Rules => Fixed charge = 180
# If consumption < 200 => charge = 0
# If 200<=consumption< 400 => charges = 5Rs per unit
# If consumption>=400 => charges = 7Rs per unit

In [1]:
units = [240,450,176,580,322,85]

def find_ebill(units):
    bill = []
    fc = 180                 # fixed charge
    for i in units:
        if i< 200:
            charges  = 0
            bill.append(fc + charges)
        elif i >= 200 and i < 400:
            charges = (i-200)*5 + 0
            bill.append(fc + charges)
        elif i>=400:
            charges = (i-400)*7 + 200*5 + 0
            bill.append(fc + charges)
        else:
            bill.append('Invalid')
    print(bill)

In [2]:
print(units)
find_ebill(units)

[240, 450, 176, 580, 322, 85]
[380, 1530, 180, 2440, 790, 180]

In [ ]:
# user defined functions
# Non-parameterized
# Parameterized

#### Types of Arguments
1) Positional - Arguments whose position is fixed<br>
2) Default - Arguments initialized with a default value

#### Rule:
From left to right, first all positional arguments are defined and then followed by default arguments.

In [5]:
def fun1(a,b,c=5):  # a, b = positional, c = default
    s = (a*b)+c
    print(s)
    
fun1(3,4,6) # a=3,b=4,c=6
fun1(3,4) # a=3,b=4,c=5
fun1(8,2) # a=8,b=2,c=5
fun1(4,12,0) # a=4,b=12,c=0
fun1(b=7,a=5,c=2)  # a=5,b=7,c=2
#fun1('Hi',3,0)  # Err

18
17
21
48
37

In [13]:
def fun2(a=7,b,c):  # a = default b,c = positinal
    print(a+b+c)

SyntaxError: non-default argument follows default argument (1983314916.py, line 1)

In [16]:
def fun3(b,c,a=5):  # b,c = positional,  a = default 
    print(a+b+c)

fun3(3,4)

12

### return keyword
1) return is only used inside functions<br>
2) return has to be the last statement in a function<br>
3) return can be used only once in a function(with exception of if-elif-else)<br>
4) if multple return statements are used, only the first one is the valid statement<br>

#### Note
The function call of a fucntion that uses return keyword should be stored in a variable

In [21]:
def fun4(a,b,c):
    x1 = a+b+c
    print(x1)

In [22]:
w = fun4(5,6,5) # a=5,b=6
print(w)

16
None

In [17]:
def greet(name):
    msg = 'Welcome '
    return msg + name # return will not give none after using function in variable

In [18]:
w1 = greet('Shubham')
print(w1)

Welcome Shubham

In [23]:
def fun5(a,b):
    x2 = a+b 
    return x2

w2 = fun5(5,6)
print(w2)

11

In [29]:
def fun6(a):
    print('Python Functions')  # will get executed
    print(a+7)
    return('Hello World')      # will not get executed
    print(a+12)

w3 = fun6(8)
print(w3)

Python Functions
15
Hello World

#### Return cant return a sequence

In [30]:
def fun7(n):
    for i in range(n):
        print(i)

fun7(5)

0
1
2
3
4

In [43]:
def fun8(n):
    for i in range(n):
        return i               # it returns only first value

r1 = fun8(5)
print(r1)

0

### Recursion
1) A function calling itself is called Recursion and the function becomes recursive function.<br>
2) It is mandatory to mention a terminating condition.<br>
3) return keyword is used in function.

In [17]:
# 5! = 5 * 4 * 3 * 2 * 1 #  => 

# 5! = 5 * 4! = 5 * 4 * 3! = 5 * 4 * 3 * 2! = 5 * 4 * 3 * 2 * 1! = 
# = 5 * 4 * 3 * 2 * 1 = 120

In [31]:
def factr(n):
    if n==1 :       # terminating condition
        return 1
    else :
        return n*factr(n-1)

In [33]:
fact5 = factr(5)
print(fact5)

120

In [3]:
# n = 5
# factr(5) = 5*factr(4) = 5*(4*factr(3)) = 5*4*(3*factr(2))
# = 5*4*3*(2*factr(1))) = 5*4*3*2*factr(1) = 5*4*3*2*1 = 120

In [51]:
# Find sum upto n terms
# n = 4 => 4+3+2+1

def findsum(n):
    if n==1 :       # terminating condition
        return 1
    else :
        return n + findsum(n-1)

In [53]:
findsum(5)

15

In [65]:
def dragon(x):
    if x<5:
        return -x   # teminating condition
    else:
        return x + dragon(x-2)

In [66]:
dragon(15) 
# 15 + d(13) = 15 + (13+d(11)) = 15+13+(11+d(9))
# 15+13+11+ (9+ d(7)) = 15+13+11+9 + (7+ d(5))
# 15+13+11+9+7 + (5 + d(3)) = 15+13+11+9+7+5 + (-3) = 57

57

In [ ]:
# Functions
# paramtertized and non-parameterized fun
# arguments - positional, default
# return

# recursion

In [ ]:
# list comprehension
# dict comp

#### Exercise
1) Write a function to compute SI given P,R and T as arguments<br>
2) Assume any given list of marks(all integers between 1 to 100), find the second highest marks obtained from a list of marks.<br>
3) Create a function to generate a list containing common elements of two given lists.<br>
w1 = [1,2,3,4,67,78]<br>
w2 = [45,78,3,11,109]<br>
4) Write a program that takes a list of words and returns the length of longest word and print the longest word as well. Assume any list of words<br>
5) Sort even-placed elements (according to thier index) in decreasing and odd-placed in increasing order and store them in a separate list and display them as output. Assume any list of numbers<br>
6) Write a function to count the number of vowels in a given string. String is passed as an argument<br>
7) Write a function to check if the number is palindrome number or not<br>
8) Count the elements of the list using a dict where the keys are list elements, and the count should be their values.<br>
Sample Input: <br>
d = [12,23,34,23,12,12,45,34,45,56,34,34,23,12,56] <br>
Sample Output:<br>
The result should be like: {12:4,23:3,34:4,45:2,56:2} <br>  
</pre>

In [34]:
# Q4)
words = ['Hello','India','Analysis','Science','laptop','string','sql']
wlen = [len(i) for i in words]  # list comp
print(wlen)
maxlen_idx = wlen.index(max(wlen))
print('Word with max len: ',words[maxlen_idx],'and its length',max(wlen))

[5, 5, 8, 7, 6, 6, 3]
Word with max len:  Analysis and its length 8

In [40]:
# Q2) 
def second_heighest(marks):
    unique_marks = list(set(marks))# to remove duplicates
    unique_marks.sort(reverse=True)
    if len(unique_marks)>=2:
        return unique_marks[1]
    else:
        return "not a second heighest"

In [42]:
marks = [87,92,75,92,56,100,75,87]
result = second_heighest(marks)
print(result)

92

In [11]:
# when multiple words have same length
words = ['Hello','India','Analysis','Science','laptop','Function','sql']
wlen = [len(i) for i in words] 
print(wlen)
words_max_len = [i for i in words if len(i) == max(wlen)]
print('Words with max len',words_max_len,'and their len',max(wlen))

[5, 5, 8, 7, 6, 8, 3]
Words with max len ['Analysis', 'Function'] and their len 8

In [12]:
# Q5) 
num = [7,10,12,19,15,6,24,40,45,8,10]
ep,op = [],[]  # even placed, op = odd placed
for i in range(len(num)):  # i acts as index
    if i%2==0:  # index is even
        ep.append(num[i])
    else:
        op.append(num[i])        
ep.sort(reverse=True)
op.sort()
print('Even placed in desc order',ep)
print('Odd placed in asc order',op)

Even placed in desc order [45, 24, 15, 12, 10, 7]
Odd placed in asc order [6, 8, 10, 19, 40]

In [18]:
# Q6)
def count_vowel(s):
    v = "aeiouAEIOU"
    c = 0
    for i in s:
        if i in v:
            c += 1
    print('Str',s,'has',c,'vowels')

In [19]:
count_vowel('Welcome to Python Function Arguments')

Str Welcome to Python Function Arguments has 11 vowels

In [21]:
# Q8)
d = [12,23,34,23,12,12,45,34,45,56,34,34,23,12,56] 
# Method - 1
ec = {}  # element count => in dict all keys are unique
for i in d:
    ec[i] = d.count(i)
print(ec)

# Method - 2 - dict comp
ec2 = {i : d.count(i) for i in d}
print(ec2)

{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}
{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}

In [23]:
# method - 3
ec3 = {}
print(d)
for i in d:
    if i not in ec3.keys():
        ec3[i] = 1   # => ec3 = {12: 1,23:1,34:1,45:1}
    else:
        ec3[i] += 1  # => ec3 = {12: 3,23:2,34:2,}
print(ec3)

[12, 23, 34, 23, 12, 12, 45, 34, 45, 56, 34, 34, 23, 12, 56]
{12: 4, 23: 3, 34: 4, 45: 2, 56: 2}

# Lambda Function

1) Used to define one liner functions<br>
2) Also known as anonymous function.

Syntax:<br>
var =  lambda parameters : expressions

In [67]:
def sum2no(a,b):   #  arguments
    print(a+b)

In [68]:
sum2no(10,5)

15

In [69]:
w1 = lambda a,b : a+b
print(w1(5,3))

8

#### Find square of a and b using lambda, a and b are parameters

In [74]:
w2 = lambda a,b : (a**2, b**2)
print(w2(5,3)) # a =5,b = 3

(25, 9)

#### if-else can be used with lambda but only if cant be used.

In [72]:
w3 = lambda x,y : x*y if (x+y)%2==0 else y*10
print(w3(4,6))  # a=4,b=6
print(w3(5,2))

24
20

In [27]:
words = ['Hello','laptop','mobile','charger','functions','list']
# If len of word is div by 3 print words in reverse otherwise print -1

In [44]:
s = 'Hello'
q1 = lambda x : x[::-1] if len(x)%3==0 else -1
print(q1(s))

-1

In [26]:
for i in words:
    print(q1(i))

-1
potpal
elibom
-1
snoitcnuf
-1

In [45]:
# list comp
q2 = [i[::-1] if len(i)%3==0 else -1 for i in words]
print(q2)

[-1, -1, -1, -1, 'potpal', 'gnirts', 'lqs']

In [46]:
# YYYY-MM-DD
dates  = ['2024/04/11','2023/10/05','2021/05/07','2022/07/26']

# solve using map/filter/lambda  and list comp
# 1) Find year for all dates using list comp
# 2) Extract date in format DD-YYYY-MM for all dates using list comp

In [13]:
# Q1)
dates  = ['2024/04/11','2023/10/05','2022/05/07','2021/07/26']

w1 = list(map(lambda z : z[:4], dates))

print(w1)

w2 = [i[:4] for i in dates]

print(w2)

['2024', '2023', '2022', '2021']
['2024', '2023', '2022', '2021']

In [1]:
lts = [d]

sqr = list(map(lambda a : a**2,lts))
print(sqr)

[484, 1849, 2916, 676, 5329, 7569]

In [14]:
dt = ['2024/04/11','2023/10/15']
dt[-1:]

['2023/10/15']

In [27]:
# Q2) DD-YYYY-MM
dates  = ['2024/04/11','2023/10/05','2022/05/07','2021/07/26']

w3 = list(map(lambda x : x[-2:] + "-" + x[5:7] + "-" + x[:4] ,dates))
print(w3)

['11-04-2024', '05-10-2023', '07-05-2022', '26-07-2021']

In [21]:
w4 = [x[-2:] + "-" + x[:4] + "-" + x[5:7]  for x in dates]
print(w4)

['11-2024-04', '05-2023-10', '07-2022-05', '26-2021-07']

In [47]:
# 3) Add 2 yrs to all dates where month is even and date is odd

a1 = list(filter(lambda x : int(x[5:7])%2==0 and int(x[-2:])%2!=0,dates))
print(a1)
a2 = list(map(lambda x : str(int(x[:4])+2) + "/" + x[5:7] + "/" + x[-2:] , a1))
print(a2)

['2024/04/11', '2023/10/05']
['2026/04/11', '2025/10/05']

In [49]:
a3 = [str(int(i[:4])+2) + "/" + i[5:7] + "/" + i[-2:] 
      for i in dates if  int(i[5:7])%2==0 and int(i[-2:])%2!=0]
print(a3)

['2026/04/11', '2025/10/05']

### map, filter

Syntax :
<pre>
map(function,iterable)
filter(function,iterable)
reduce(function,iterable)
</pre>
1) <b>map</b> : Applies a function to each item of the iterable and returns a sequence
    
2) <b>filter</b> : Applies a function to each item of the iterable and returns a sequence where the function
    returns True

#### Iterables - str, list, tuple, set, dict, range

In [29]:
r = [10,14,17,27,38,45,35,20,56,24]

# a) Add 10 to each number in the list r
# b) Find all numbers from list which are divisible by 5 in list r
# c) Add 10 to even num and subtract 5 from odd numbers in list r.

r1 = list(map(lambda x : x+10, r)) 
# x corresponds to each and every element of list r 
print(r1)

r2 = list(filter(lambda x : x%5==0, r))
print(r2)

r3 = list(map(lambda x : x+10 if x%2==0 else x-5 , r))
print(r3)

r4 = [i+10 if i%2==0 else i-5 for i in r]
print(r4)

[20, 24, 27, 37, 48, 55, 45, 30, 66, 34]
[10, 45, 35, 20]
[20, 24, 12, 22, 48, 40, 30, 30, 66, 34]
[20, 24, 12, 22, 48, 40, 30, 30, 66, 34]

In [34]:
from functools import reduce

In [33]:
rng = list(range(10,50,10))
rng

[10, 20, 30, 40]

In [35]:
reduce(lambda a,b: a+b,rng)

100

In [39]:
rng

[10, 20, 30, 40]

In [41]:
reduce(lambda a,b: a+b,rng)

100

In [42]:
import operator

In [44]:
print(dir(operator))

['__abs__', '__add__', '__all__', '__and__', '__builtins__', '__cached__', '__call__', '__concat__', '__contains__', '__delitem__', '__doc__', '__eq__', '__file__', '__floordiv__', '__ge__', '__getitem__', '__gt__', '__iadd__', '__iand__', '__iconcat__', '__ifloordiv__', '__ilshift__', '__imatmul__', '__imod__', '__imul__', '__index__', '__inv__', '__invert__', '__ior__', '__ipow__', '__irshift__', '__isub__', '__itruediv__', '__ixor__', '__le__', '__loader__', '__lshift__', '__lt__', '__matmul__', '__mod__', '__mul__', '__name__', '__ne__', '__neg__', '__not__', '__or__', '__package__', '__pos__', '__pow__', '__rshift__', '__setitem__', '__spec__', '__sub__', '__truediv__', '__xor__', '_abs', 'abs', 'add', 'and_', 'attrgetter', 'call', 'concat', 'contains', 'countOf', 'delitem', 'eq', 'floordiv', 'ge', 'getitem', 'gt', 'iadd', 'iand', 'iconcat', 'ifloordiv', 'ilshift', 'imatmul', 'imod', 'imul', 'index', 'indexOf', 'inv', 'invert', 'ior', 'ipow', 'irshift', 'is_', 'is_not', 'isub', 'itemgetter', 'itruediv', 'ixor', 'le', 'length_hint', 'lshift', 'lt', 'matmul', 'methodcaller', 'mod', 'mul', 'ne', 'neg', 'not_', 'or_', 'pos', 'pow', 'rshift', 'setitem', 'sub', 'truediv', 'truth', 'xor']

In [46]:
import functools

In [47]:
print(functools.reduce(operator.add, rng))

100

In [48]:
print(functools.reduce(operator.mul, rng))

240000

In [50]:
print(functools.reduce(operator.add, ["i ", "love ", "python "]))

i love python

In [62]:
import numpy as np

In [ ]:
# single line array
# 1 d array

In [67]:
arr = np.array([10,20,40,5.5])

In [68]:
arr

array([10. , 20. , 40. ,  5.5])

In [71]:
twoD = np.array([[10,20,30,40],[1,2,3,4]])

In [72]:
twoD

array([[10, 20, 30, 40],
       [ 1,  2,  3,  4]])