# For Loop

1) A for loop is a control flow statement that executes code for a predefined number of iterations. The keyword used in this control flow statement is "for". When the number of iterations is already known, the for loop is used.

2) The for loop is divided into two parts −

3) Header − This part specifies the iteration of the loop. In the header part, the loop variable is also declared, which tells the body which iteration is being executed.

5) Body − The body part contains the statement executed per iteration.

In [17]:
for i in range(20):
    print(i**2,end = ' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361

### Loop  => for, while

start, end, step => traverse => Iteration

Iteration = Traversing(move) over elemnets of a specified range.

In [15]:
# start= 1,end=10,step=+1
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)

1
2
3
4
5
6
7
8
9

### For Loops

In range(start,end,step) method
1) In ascending order, iteration proceeds from start till <b>end-1</b>, step size is positive<br>
2) In descending order, iteration proceeds from start till <b>end+1</b>, step size is negative<br>
3) Default step value = +1<br>
4) range() works only on int<br>
5) Default start value is 0.<br>
6) If only one values is present in range(), then it is end

In [26]:
# print numbers from 1 to 5 using for loop
for abc in range(1,6):  # start=1,end=6,step=+1
    print(abc,end = ' ')

1 2 3 4 5

In [19]:
for i in range(5):   # start=0,end=5,step=+1 => end-1
    print(i,end=' ')

0 1 2 3 4

In [25]:
for i in range(20,50,3):  # start=20,end=50,step=+3
    print(i,end = ' ')

20 23 26 29 32 35 38 41 44 47

In [24]:
for i in range(10,3,-1):  # start=10,end=3,step=-1  => desc order => end+1
    print(i,end=' ')

10 9 8 7 6 5 4

In [1]:
lts = [10,16,22,12,14,65,24,63,87]
for i in lts:
    if i%2==0:
        print(i,end = ' ')

10 16 22 12 14 24

In [31]:
for i in range(100,311,30):
    print(i,end=' ')

100 130 160 190 220 250 280 310

In [ ]:
### Entities on which we can iterate
Strings,List,tuple,set,dict,range()

#### For loop on strings

In [ ]:
# Pos  0  1  2  3  4
# Str  T  O  D  A  Y
# neg -5 -4 -3 -2 -1

In [ ]:
# str, list, tuple
# 1) elmenets wise iteration
# 2) index wise iteration

In [37]:
s = "Today"
print(s[0],s[1],s[2],s[3],s[4])  # pos index
print(s[-1],s[-2],s[-3],s[-4],s[-5]) # neg index

T o d a y
y a d o T

In [39]:
s = "Today"
# Element wise Iteration
# i corresposnds to each and every element of string
for i in s:
    print(i)

T
o
d
a
y

In [50]:
s = 'Today'
# Index wise Iteration
for i in range(len(s)):  # start=0, end=len(s) =5,step=+1 
    print(i,s[i])

0 T
1 o
2 d
3 a
4 y

In [ ]:
# Pos  0  1  2  3  4
# Str  T  O  D  A  Y
# neg -5 -4 -3 -2 -1

In [54]:
# iterate str from left to right with neg index
s = "yadoT"
for i in range(-len(s),0):  # step = +1  => end-1
    print(i,s[i])

-5 y
-4 a
-3 d
-2 o
-1 T

In [61]:
# Find sum of num from 1 to 10 using for loop
add = 0
for i in range(1,11):   # start=1,end=11,step=+1
    add += i            # add = add + i
print('Sum',add)
# add = 0
# i = 1 => add = 0 + 1 = 1
# i = 2 => add = 1 + 2 = 3
# i = 3 => add = 3 + 3 = 6
# i = 4 => add = 6 + 4 = 10
# ....

Sum 55

In [68]:
# Find sum of all even numbers from 30 to 50
a = 0
for i in range(30,51): # start=30,end=51,step=+1
    if i%2==0 :
        a = a+i
        
print('Sum',a)

Sum 440

In [69]:
a = 0
for i in range(30,51): # start=30,end=51,step=+1
    if i%2!=0 :
        a += i
print('Sum',a)

Sum 400

In [90]:
lts = [x**2 for x in range(1,100) if x%2==0]
for i in lts:
    print(i,end =' ')

4 16 36 64 100 144 196 256 324 400 484 576 676 784 900 1024 1156 1296 1444 1600 1764 1936 2116 2304 2500 2704 2916 3136 3364 3600 3844 4096 4356 4624 4900 5184 5476 5776 6084 6400 6724 7056 7396 7744 8100 8464 8836 9216 9604

In [124]:
a = 0
for i in range(1, 101):
    if i % 2 != 0:  # Check if the number is odd
        a = i-5
        print('odd value ',i,' -5 from odd value',a)

odd value  1  -5 from odd value -4
odd value  3  -5 from odd value -2
odd value  5  -5 from odd value 0
odd value  7  -5 from odd value 2
odd value  9  -5 from odd value 4
odd value  11  -5 from odd value 6
odd value  13  -5 from odd value 8
odd value  15  -5 from odd value 10
odd value  17  -5 from odd value 12
odd value  19  -5 from odd value 14
odd value  21  -5 from odd value 16
odd value  23  -5 from odd value 18
odd value  25  -5 from odd value 20
odd value  27  -5 from odd value 22
odd value  29  -5 from odd value 24
odd value  31  -5 from odd value 26
odd value  33  -5 from odd value 28
odd value  35  -5 from odd value 30
odd value  37  -5 from odd value 32
odd value  39  -5 from odd value 34
odd value  41  -5 from odd value 36
odd value  43  -5 from odd value 38
odd value  45  -5 from odd value 40
odd value  47  -5 from odd value 42
odd value  49  -5 from odd value 44
odd value  51  -5 from odd value 46
odd value  53  -5 from odd value 48
odd value  55  -5 from odd value 50
odd value  57  -5 from odd value 52
odd value  59  -5 from odd value 54
odd value  61  -5 from odd value 56
odd value  63  -5 from odd value 58
odd value  65  -5 from odd value 60
odd value  67  -5 from odd value 62
odd value  69  -5 from odd value 64
odd value  71  -5 from odd value 66
odd value  73  -5 from odd value 68
odd value  75  -5 from odd value 70
odd value  77  -5 from odd value 72
odd value  79  -5 from odd value 74
odd value  81  -5 from odd value 76
odd value  83  -5 from odd value 78
odd value  85  -5 from odd value 80
odd value  87  -5 from odd value 82
odd value  89  -5 from odd value 84
odd value  91  -5 from odd value 86
odd value  93  -5 from odd value 88
odd value  95  -5 from odd value 90
odd value  97  -5 from odd value 92
odd value  99  -5 from odd value 94

In [126]:
lts = [10,20,30,40,50,60,70]
lts1 = ["python","java","c++",".net","Ruby","Mysql","PHP"]

In [157]:
lt =[]
for i in lts:
    for j in lts1:
        print(j)
    print(i)

python
java
c++
.net
Ruby
Mysql
PHP
10
python
java
c++
.net
Ruby
Mysql
PHP
20
python
java
c++
.net
Ruby
Mysql
PHP
30
python
java
c++
.net
Ruby
Mysql
PHP
40
python
java
c++
.net
Ruby
Mysql
PHP
50
python
java
c++
.net
Ruby
Mysql
PHP
60
python
java
c++
.net
Ruby
Mysql
PHP
70

In [145]:
for i in range(1,5+1):
        print(i)

1
2
3
4
5

In [153]:
n = 5
k = 5
for i in range(0,n+1):
    for j in range(k-i,0,-1):
        print("*",end = ' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [158]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

### While loop
A loop that runs a single statement or a set of statements for a given true condition. This loop is represented by the keyword "while". When the number of iterations is unknown, a while loop is used. The statement is repeated until the Boolean value is false. Because the condition is tested at the beginning of a while loop, it is also known as the pre-test loop.

In [6]:
i = 0           # start
while i < 10 :   # end
    print(i,end=' ')
    i += 1    # step

0 1 2 3 4 5 6 7 8 9

In [9]:
i = 0         # start
while i < 5 :   # end
    i += 1     # step
    print(i,end=' ')

1 2 3 4 5

In [17]:
i = 20        # start=20
while i>5:    # end=5
    i -= 2    # step = -2
    print(i,end=' ')
    #i -=2

18 16 14 12 10 8 6 4

In [18]:
# Find sum of odd num between 20 to 35 using while loop
odd =  0
i = 20
while i<=35 :
    i =i+1
    if i%2!=0:
        odd = odd + i
print('Sum of odd',odd)

Sum of odd 224

In [21]:
# iterate on string using while loop
# index based iteration 

w = "mobile"
i = 0   # start
while i < len(w):  #  end
    print(i,w[i]) 
    i += 1         #  step

0 m
1 o
2 b
3 i
4 l
5 e

In [ ]:
# for  
# a) range is used
# b) condition is not used

# while 
# a) range is not used
# b) condition can be used

#### Note
break - Returns the program control out of the loop<br>
continue - Returns the program control at the beginning of the loop

In [27]:
for i in range(1,100):  # start=10,end=20,step=+1
    if i%5==0:  # 12 
        break
    else:
        print(i)  # 10, 11,

1
2
3
4

In [30]:
a = "Imarticus"
for i in a:
    if i =="c":
        break
    else:
        print(i)

I
m
a
r
t
i

In [36]:
for i in range(1,10):  # start=10,end=20,step=+1
    if i%5==0:  # 12 
        print(i)
        break
    else:
        print(i)  # 10, 11,

1
2
3
4
5

In [40]:
i = 0
while i <= 10:
    i += 1
    if i%5==0 :
        break
    else:
        print(i)

1
2
3
4

In [5]:
i = 1
while i <= 10:
    if i%3==0 :
        break
    else:
        print(i)
    i += 1

1
2

#### continue
Returns the program control at the beginning of the loop.<br>
If the condition is True, those value will be skipped.

In [7]:
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [8]:
for i in range(10,20):  # start=10,end=20,step=+1
    if i%3==0:    # 12 
        continue
    else:
        print(i,end=' ')  # 10, 11,

10 11 13 14 16 17 19

In [11]:
i = 10
while i < 20:
    i += 1
    if i%3==0:
        continue
    else:
        print(i,end=' ')

11 13 14 16 17 19 20

In [ ]:
# pass
i = 1
while i <10:
    if i%3==0:
        pass
    else:
        print(i)
        i+=1

1
2

In [8]:
for i in range(1,10):
    if i%2==0:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

#### Exercise
<pre>
1) Accept a score from user. Based on the following conditions, generate the remarks
a) if score is between 0 to 40 then Remarks = Poor
b) if score is between 41 to 60 then Remarks = Average
c) if score is between 61 to 80 then Remarks = Good
d) if score is between 81 to 90 then Remarks = Excellent
e) if score is between 91 to 100 then Remarks = Outstanding
f) otherwise Remarks = Invalid Score

2) Accept 3 numbers(n1,n2,n3) from user. Print the largest and smallest numbers amongst them.
Find the difference between the largest and smallest number.

3) Accept FirstName and LastName as user inputs and 
print the initials of the name separated by '_'.
Sample Input:
Virat
Kohli
Sample Output:
V_K

4) Accept a string from the user and return the total number of alphabets,digits, space and special characters in that string.