### Conditional Statements

1) Conditional Statements are used to check one or multiple conditions.<br>
2) For conditional statements, for and while loop, functions, class etc, we use indentation(1 tab space)

#### a) if

In [2]:
sales = 14000
if(sales>= 14000):
    print("good sales")
else:
    print("bad sales")

good sales

num3 is not greater

In [3]:
n = 20
if n%5==0 :
    print(n,'is div by 5')

20 is div by 5

In [ ]:
# even & odd program

In [11]:
num = int(input("enter the value"))
if num%2==0:
    print("even value")
else:
    print("odd value")

enter the value 137

odd value

In [ ]:
# ; => semicolon
# : => colon

In [4]:
n = 32
if n%5==0 :  # condition is False
    print(n,'is div by 5')

In [3]:
age = int(input("enter your age :- "))
if(age >=18):
    print("you can vote")
else:
    print("you can't vote")

enter your age :-  17

you can't vote

In [ ]:
# person will be graduate
# person will be greater then 17y

In [8]:
age = int(input("enter your age:- "))
edu = input("enter your education ")
if(age>17 and edu == "grad"): 
    print("you can vote")
else:
    print("you can't vote")

enter your age:-  18
enter your education  grad

you can vote

In [9]:
age = int(input("enter your age:- "))
edu = input("enter your education ")
if(age>17 or edu == "grad"): 
    print("you can vote")
else:
    print("you can't vote")

enter your age:-  17
enter your education  grad

you can vote

In [ ]:

'''company = imarticus
id = 121
password = 2323
login
else check your password

'''

#### b) if-else
Used to check 2 conditions

In [5]:
n = 77
if n%3==0 :
    print(n,'is div by 3')
else :
    print(n,'is not div by 3')

77 is not div by 3

#### c) if-elif
Used to check multiple conditions

In [18]:
age = int(input("enter your age :- "))
if( 0< age <=3):
    print("no fare")
elif(3< age <5):
    print("bus fare is 15")
else:
    print("bus fare is 30")

enter your age :-  3

no fare

In [21]:
sales = int(input("enter the sales"))
if sales>15000:
    print("good sales")
elif sales>12000:
    print("avg sales")
elif sales>8000:
    print("below avg sales")
else:
    print("bad sales")

enter the sales 7000

bad sales

In [ ]:
# user name :- prachi
# password 122
# password 53545 second password login
# password 89979 third password login
# password 12312 4th password login
# login
# not login

In [23]:
sub = input("enter the course name - ")
if sub == "Java":
    print('Java')
elif sub == "C++":
    print('C++')
elif sub == "Python":
    print('Python')
elif sub == "Ruby":
    print('Ruby')
elif sub == "Python":
    print('Data Science')

enter the course name -  Java

Java

#### d) if-elif-else

In [7]:
sub = input()
if sub == "Java":
    print('Java')
elif sub == "Python":
    print('Python')
elif sub == "Rust":
    print('Rust')
elif sub == "Ruby":
    print('Ruby')
else:
    print('None')

 Java

Java

In [6]:
acc = 587698436536
if acc == 768455432342:
    print('Acc 1 valid')
elif acc ==577982143546:
    print('Acc 2 valid')
elif acc == 587698436536:
    print('Acc 3 valid')
elif acc == 325436323524:
    print('Acc 4 valid')
else:
    print('None')

Acc 3 valid

#### Ternary Operator 
One liner if - else

In [78]:
x = int(input("enter the value - "))
res = "Even" if x%2==0 else "Odd"
print(res)

enter the value -  12

Even

In [29]:
n = int(input())
n2 = "Div by 3" if n%3==0 else ('Div by 5' if n%5==0 else "Not div by 5")
print(n2)

 20

Div by 5

#### Nested - if
if-elif-else inside another if-elif-else statement

In [19]:
#num1 = int(input("enter num1 value "))
#num2 = int(input("enter num2 value "))
#num3 = int(input("enter num3 value "))

if(25>27):
    print("num1 is greater: ",num1)
else:
    if(9>26):
        print("num3 is greater ", num3)
    else:
        print("num3 is not greater")

num3 is not greater

In [9]:
m = int(input())
if m%3==0 :
    if m%5==0 : 
        print(m,'is div by both 3 and 5')
    else:
        print(m,'is not div by 5 but div by 3')
else:
    print(m,'is not div by 3')

 15

15 is div by both 3 and 5

In [12]:
domain = input("enter domain")
un = input(" enter user name")
pwd = int(input(" enter your password"))
if(domain == "non it"):
    print("user name is : ",un)
else:
    if(un == "imarticus") and (pwd == 12345):
        print("You can login:-", "user name:- ",un,"password:- ",pwd)
    else:
        print("the user name and password is incorrect")

enter domain it
 enter user name imarticus
 enter your password 123

the user name and password is incorrect

In [25]:
un = input(" enter user name")
pwd = int(input(" enter your password"))
if(un=="imarticus"):
    if(pwd==12345):
        print("you can login")
    else:
        print("incorrect password")
else:
    print("user name incorrect")

 enter user name imar
 enter your password 343

user name incorrect

# List Comprehension

In [60]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
vow = "a"
newlist = [x for x in fruits if vow in x]

print(newlist)

['apple', 'banana', 'mango']

### Only accept items that are not "apple":

In [29]:
newlist1 = [x for x in fruits if x != "apple"]
newlist1

['banana', 'cherry', 'kiwi', 'mango']

In [33]:
newlts = [x for x in range(2,21,2)]
newlts

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Square the all elements of the list

In [39]:
numbers = [1, 2, 3, 4, 5]

# create a new list using list comprehension
square_numbers = [num **4 for num in numbers]

print(square_numbers)

# Output: [1, 4, 9, 16, 25]

[1, 16, 81, 256, 625]

# Find the Event & Odd Values from list using list comprehension

In [41]:
# filtering even numbers from a list
even_numbers = [num for num in range(1, 10) if num % 2 == 0 ]
odd_numbers = [num for num in range(1, 10) if num % 2 != 0 ]

print('even number:- ',even_numbers)
print('odd number:- ',odd_numbers)

# Output: [2, 4, 6, 8]

even number:-  [2, 4, 6, 8]
odd number:-  [1, 3, 5, 7, 9]

# Find the Vowels from string using list comprehension

In [62]:
word = "Python"
vowels = "aeiou"

# find vowel in the string "Python"
result = [x for x in word if x in vowels]

print(result)

# Output: ['o']

['o']

#### Populate an empty list

#### Generate a list containing all even numbers between 30 and 50 (both inclusive)

In [72]:
t = [] # empty list
for i in range(3,31,3):  # start=31,end=51,step=+2
    t.append(i)
print(t)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [69]:
t

[]

In [73]:
t

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

# Assignment

#### Q1) Seperate even and odd numbers from the below list. Store result in separate list.
num = [7,12,5,15,8,10,18,3,20]

#### Q2) Accept a list of Fruits from user(in lower case) and print even index fruits in upper case and odd index fruits in lower case.


#### Q3) For the given list, find all the even elements present at the odd index. Store result in a list

w = [24,57,78,25,83,95,24,80,21,20,24,27]

#### Q4) Find all pair of 2 numbers whose sum when add becomes 20 from the given list
w = [8,2,11,10,9,12,6,21,5,4]

In [1]:
# Q1
num = [7,12,5,15,8,10,18,3,20]
even, odd = [],[]
for i in num:
    if i%2==0 :
        even.append(i)
    else:
        odd.append(i)
print('Even',even)
print('Odd',odd)

Even [12, 8, 10, 18, 20]
Odd [7, 5, 15, 3]

In [2]:
# Q2) 
fruits = ['mango','apple','avacado','orange','watermelon','grapes']
for i in range(len(fruits)):
    if i%2==0:
        print(fruits[i].upper())
    else:
        print(fruits[i].lower())

MANGO
apple
AVACADO
orange
WATERMELON
grapes

In [84]:
numbers = [1,2,3,4,5,6,7,8,9]
res = ['Even' if num %2 ==0 else "odd" for num in numbers]
res

['odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd', 'Even', 'odd']

In [85]:
# Q3) # find even elements at odd index
w = [24,57,78,25,83,95,24,80,21,20,24,27]
res =  []
for i in range(len(w)):
    if i%2!=0 :         # odd index
        if w[i]%2==0 :  # even element/num
            res.append(w[i])
print(res)

[80, 20]

In [4]:
for i in range(1,4):      # i = 1,2,3
    for j in range(1,4):  # j =1,2,3
        print('i',i,'j',j)

i 1 j 1
i 1 j 2
i 1 j 3
i 2 j 1
i 2 j 2
i 2 j 3
i 3 j 1
i 3 j 2
i 3 j 3

In [1]:
#Q4)
w = [8,2,11,10,9,12,6,21,5,4]
sum20  = []
for i in w:               
    for j in w:
        if i+j == 20:
            sum20.append((i,j))
print(sum20)

[(8, 12), (11, 9), (10, 10), (9, 11), (12, 8)]