In [ ]:
# Variables
# Data Types
# Operators
# Indeixing and Slicing
# String functions
# conditional statements
# for and while loop
# list, tuple, set, dict - functions
# user defined functions
# lambda, map, filter

In [ ]:
# Python Introduction
# Jupyter shortcuts

#### IDE (Integrated Development Environment)
<pre>
1) Jupyter
2) Google Colab
3) VS Code
4) PyCharm
5) Sublime
</pre>

# Heading1
## Heading2
### Heading3
#### Heading4
##### Heading5

#### Jupyter Keyboard Shortcuts
<pre>
1) Execute a cell - Run or Shift + Enter
2) Add a cell above the current cell - A
3) Add a cell below the current cell - B
4) Delete the current cell - Double D
5) Markdown cell - M
6) Code cell - Y
</pre>

In [90]:
a = 7
print(a)

7

#### Features of Python
1) High level language<br>
2) It is interpreted language.<br>
3) It follows OOPC(Object Oriented Programming Concpets) principles.<br>
4) It is dynamically typed.<br>
5) Case sensitive.<br>
6) Open Source with large community.<br>
7) Simple syntax.

In [ ]:
# Excel, SQL, Tableau, Power BI

# Python, Stats, ML, Deep Learning - Python

# Applications

# Data Analysis
# Machine Learning
# Artificial Intelligence /Deep Learning
# Generative AI (Chatgpt)
# Web Develeopment
# Web Scraping
# Cypto Mining
# Networking
# Automation code

#### Variables
<pre>
1) Entity which is use to store some data. Data can be of any data type.
2) A variable can be reassigned, reinitialized and redeclared.
3) Multiple variables can be created in a same line separated by comma.
</pre>

In [4]:
# SQL - data store - database - table - row and columns

In [3]:
n = 20
print(n)

# 1) value of 20 is stored in varaible n
# 2) variable n is initialized with the value of 20.
# 2) variable n is assigned with the value of 20.

20

In [5]:
print(n)

20

In [6]:
# A variable can be reassigned, reinitialized and redeclared.
n = "Hello"
print(n)
n = 45
print(n)

Hello
45

In [7]:
print(n)

45

In [8]:
# Multiple variables can be created in a same line separated by comma.
n1,n2,n3 = 10,7,18
print(n1,n2,n3)

print()  # () - parenethesis/round brackets

10 7 18

### Rules for naming a variable
<pre>
1) Should start with A-Z, a-z or _(underscore)
2) Should not start with number
3) Should not contain space in between
4) Should not contain special characters
5) Python keywords should be avoided as variable name.
Examples of Python keywords - if,else,for,in,not,and,print,type,min,max etc

</pre>

In [9]:
fdvf435dav = "Python"
print(fdvf435dav)

Python

In [10]:
435jdsncfdv = "Laptop"
print(435jdsncfdv)

SyntaxError: invalid syntax (3138664716.py, line 1)

In [11]:
_ABC3t355fd = 423543
print(_ABC3t355fd)

423543

In [13]:
user_name = "kartik sharma"
print(user_name)

kartik sharma

#### Dynamically Typed
Data Type of a variable is defined at run time.

In [88]:
m = 7.8
print(m)
type(m)

7.8

float

#### Data Types - int, float, bool, str, None

In [18]:
a1 = 56456342
print(a1)
print(type(a1))

56456342
<class 'int'>

In [19]:
a2 = 4.5
print(a2)
print(type(a2))

4.5
<class 'float'>

In [21]:
a3 = True  # False
print(a3)
print(type(a3))

True
<class 'bool'>

#### Str
<pre>
1) They are enlclosed in single , double or triple quotes
2) Multiline str are enclosed in triple quotes
    Single Quotes - ' '
    Double Quotes - " "
    Triple Quotes - """ """ or ''' '''
</pre>

In [22]:
a4 = "Python"
a5 = 'Hello'
print(type(a4))
print(type(a5))

<class 'str'>
<class 'str'>

In [26]:
a6 = '''Learning Python and Data Analysis. Mastering Data analysis 
tools like SQL, Python, Excel, Tableau'''
print(a6)

Learning Python and Data Analysis. Mastering Data analysis
tools like SQL, Python, Excel, Tableau

In [28]:
a7 = "hello World"
print(a7)

hello World

In [29]:
a8 = None
print(a8)
print(type(a8))

None
<class 'NoneType'>

In [28]:
# a + ib
a9 = 5 + 7j    # 5 = real part, 7 = imaginary part
print(a9)
print(type(a9))  # signal processing

(5+7j)
<class 'complex'>

In [30]:
a10  = 5.3e4   # 53*10^(4)
print(a10)

53000.0

Note
1) int, float, bool, Str, None - all these data types can only store one value in a variable

In [ ]:
# list, tuple, set, dictionary

#### Operators
Used to perform some operation on operands

5+4 => 5 and 4 are operands and + is operator

#### 1) Arithmetic Operators

In [40]:
a,b = 5,2
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)   # normal division => return float
print(a//b)  # int division 
print(a**b)  # ** => power operation => a raised to power of b => 5*5
print(b**a)  # b raised to power of a => 2*2*2*2*2
print(a%b)   # % => mod operation => returns remainder

5 2
7
3
10
2.5
2
25
32
1

In [39]:
print(4//2)
print(4.2//2)
print(5//2)

2
2.0
2

#### 2) Assignment Operators

In [46]:
a,b = 5,2   # = is assignemnt operator
print(a,b)
a += b   # a = a+b
print(a,b)
a -= b   # a = a-b
print(a,b)
b *= a   # b = b*a
print(a,b)
a /= b   # a = a/b
print(a,b)

5 2
7 2
5 2
5 10
0.5 10

In [53]:
a,b = 5,2
print(a,b)
a **= b  #  a = a**b
print(a,b)
a %= b  #  a = a%b => remainder
print(a,b)

5 2
25 2
1 2

In [78]:
q,w = 5,8
print(q,w)
q = q + w   # q += w
print(q,w)

5 8
13 8

#### 3) Relational/Comparison Operators
They return True or False

In [56]:
a,b,c = 10, 15,12
print(a>b)  # F
print(b>=a) # T
print(c<a)  # F
print(a<=c) # T
print(a==b)  # equal to => Is a equal to b
print(a!=b)  # not equal to => Is a not equal to b

False
True
False
True
False
True

#### 4) Logical Operator
They return T or F
<pre>
and - Returns True when both the conditions are T, otherwsie F
or - Returns True when either of the conditions are T, otherwsie F
</pre>

In [23]:
x,y,z = 20,40,35
print(x>y and y>z)
print(x!=y and y>z)
print(x<z or y<z)
print(y<z or x>=z)
print((x<y or y>z) and x%2==0)

False
True
True
False
True

#### 5) Membership Operators - in, not in
1) They return T or F<br>
2) Can be applied to str, list, tuple, dict, set<br>
3) cant be applied on int,float,bool,None data types

In [73]:
# substring => part of string
s = "Learning Python and Data Analysis"
print('Python' in s)
print('on an' in s)
print('data' in s)
print('where' not in s)
print('ing' not in s)
print('nd Da' in s)

True
True
False
True
False
True

### 6) Bitwise Operators
Used to represent number in format of bits - 0 and 1

In [ ]:
# Decimal    Binary
# 0            0
# 1            01
# 2            10
# 3            110
# 4            100
# 5            101
# ....


# 5 - (2**)  + (2**1)  + (2**0)

In [2]:
# 101 = 1*(2**2) +  0*(2**1) + 1*(2**0)
1*(2**2) +  0*(2**1) + 1*(2**0)

5

In [4]:
print(bin(5))
print(bin(24))  # 11000 =  1*(2**4) + 1*(2**3)  + 0*(2**2) + 0*(2**1) +  0*(2**0)

0b101
0b11000

In [5]:
1*(2**4) + 1*(2**3)  + 0*(2**2) + 0*(2**1) +  0*(2**0)

24

In [7]:
print(bin(32432))

0b111111010110000

In [8]:
# 2 | 24  - 0 
# 2 | 12  - 0
# 2 | 6  -  0
# 2 | 3  -  1
# 2 | 1  


# & - and - both T,=> res T, otherwise = F
# |- and - any one is  T,=> res T, otherwise = F

In [11]:
bin(14)

'0b1110'

In [13]:
# T - 1, F - 0
a = 5     #   0 0 1 0 1
b = 14    #   0 1 1 1 0

print(a & b) # 0 0 1 0 0       # bitwise AND
print(a | b) # 0 1 1 1 1       # bitwise OR
print(a ^ b) # 0 1 0 1 1       # bitwise XOR (1True, 1False => res = T, otherwise = F)

4
15
11

### 7) Identity operators

In [17]:
a = 3
b = 3
print(a is b)
print(a==b)
print(a is not b)

True
True
False

#### Access the memory

In [19]:
w1 = 10
w2 = 24
print(id(w1))    # id - used to access memory address
print(id(w2))

2316901902928
2316901903376

In [22]:
u = 0            # False
print(not u)
u1 = 1
print(not u1)

True
False

In [27]:
a1,a2,a3 = 10,20,25
print((a1>a2 and a1<a3) or (a2<a3))  # True
print(a1>a2 and (a1<a3 or a2<a3))
#      F           T   or   T

True
False

### Typecasting
Changing from one data type to another

In [32]:
s = "2405"
print(type(s))
s1 = int(s)
print(s1)
print(type(s1))

<class 'str'>
2405
<class 'int'>

In [41]:
s2 = "34.5"
print(type(s2))
# print(int(s2))  # cant be converted because of .
s3 = float(s2)
print(s3)
print(type(s3))

<class 'str'>
34.5
<class 'float'>