### List
1) List is ordered collection of elements of same or different data types<br>
2) List elements are enclosed in square brackets [] and are separated by comma<br>
3) List is mutable (can be changed)<br>
4) Indexing and slicing is allowed in list<br>
5) List can store duplicate elements

### Tuple

1) Tuple is also an ordered collection of elements of same or different data types<br>
2) Tuple elements are represented in () and the elements are separated by comma.<br>
3) Tuple is Immutable(cant be changed)<br>
4) Indexing and slicing is allowed<br>
5) Dupliacte elements are allowed<br>

#### Empty list or tuple Creation

In [1]:
a1,a2 = [], list()
a3,a4 = (), tuple()
print(a1,type(a1))
print(a2,type(a2))
print(a3,type(a3))
print(a4,type(a4))

[] <class 'list'>
[] <class 'list'>
() <class 'tuple'>
() <class 'tuple'>

#### Examples of list/tuple

In [2]:
w1 = [10,None,25,45,5.7,'Google']
w2 = (30,45,'Hello',None,False)
print(w1,len(w1),type(w1))
print(w2,len(w2),type(w2))

[10, None, 25, 45, 5.7, 'Google'] 6 <class 'list'>
(30, 45, 'Hello', None, False) 5 <class 'tuple'>

In [3]:
w3 = list([20,30,40,35])
print(w3)
w4 = tuple((5,7,12,25,46))
print(w4)

[20, 30, 40, 35]
(5, 7, 12, 25, 46)

In [4]:
# List is mutable and tuple is immutable
print(w3[2])
w3[2] = 'Python'
print(w3)   # List is mutable

40
[20, 30, 'Python', 35]

In [5]:
print(w4[3])
w4[3] = 'SQL'
print(w4)  # tuple is immutable

25

TypeError: 'tuple' object does not support item assignment

In [6]:
#### List Indexing and Slicing
a1 = (10,20,'Python',60,15,'SQL',40,35,25)
print(a1[4],a1[-2])
print(a1[:3:-1])   # end=3,step=-1

15 35
(25, 35, 40, 'SQL', 15)

#### Iteration in List/Tuple

In [11]:
r = [10,'SQL',45,'Python']
# element wise iteration
for i in r:
    print(i,end=' ')

10 SQL 45 Python

In [12]:
# index wise iteration
for i in range(len(r)):
    print(i,r[i])

0 10
1 SQL
2 45
3 Python

In [24]:
#### Tuple - count, index
#### List - count,index, clear, pop,remove, sort, insert, append, extend etc

### Tuple Methods/Functions
count(),index()<br>
index() - returns the index of 1st occurence of the element from the left

In [13]:
w = (10,15,20,25,30,20,25,20,25)
print('Count function')
print(w.count(20))
print(w.count(30))
print(w.count(25))
print(w.count(18))  # 0
print()
print('Index function')
print(w.index(20))
print(w.index(25))
print(w.index(20))  # start,end
print(w.index(20,3)) # start seraching for 20 from index 3
print(w.index(20,w.index(20)+1))

Count function
3
1
3
0

Index function
2
3
2
5
5

In [17]:
w = (10,15,20,25,30,20,25,20,25)
print(w.index(20))  # 2
print(w.index(20,w.index(20)+1))  # 5

2
5

In [32]:
for i in range(len(w)):
    if w[i]==20:
        print(i,w[i])

2 20
5 20
7 20

### List Functions

#### 1) count() and index()

In [18]:
w1 = [10,15,20,25,30,20,25,20,25]
print('Count function')
print(w1.count(20))
print(w1.count(30))
print(w1.count(52))
print()
print('Index function')
print(w1.index(20))
print(w1.index(25))

Count function
3
1
0

Index function
2
3

#### 3) clear()
Empties the list

In [22]:
s = [45,39,64]
print(s)
s.clear()
print(s)

[45, 39, 64]
[]

#### 4) pop(index)
Removes the list element based on index. If no index is passed last element(from right) is removed. Returns error if index is out of range

In [28]:
a = [6,9,10,13,16,14,30]  
print(a)
a.pop(3)  # removes element at index 3
print(a)
a.pop(-2) # removes element at index -2
print(a)
a.pop()   # removes element at index -1 (last element from right)
print(a)
a.pop(8)  # err
print(a)

[6, 9, 10, 13, 16, 14, 30]
[6, 9, 10, 16, 14, 30]
[6, 9, 10, 16, 30]
[6, 9, 10, 16]

IndexError: pop index out of range

#### 6) remove(element)
It removes element from the list(first occurence from the left) based on the element passed as an argument. It removes one element at a time.

In [37]:
a = [6,9,10,13,16,13,'Python',10,30,45]
print(a)
a.remove(9)  # removes first occurence of 9
print(a)
a.remove('Python') # removes first occurence of 30
print(a)
a.remove(13) # removes first occurence of 13
print(a)
# a.remove()    # err
# a.remove(78)  # err

[6, 9, 10, 13, 16, 13, 'Python', 10, 30, 45]
[6, 10, 13, 16, 13, 'Python', 10, 30, 45]
[6, 10, 13, 16, 13, 10, 30, 45]
[6, 10, 16, 13, 10, 30, 45]

In [44]:
# Remove all occurence of a particular elements
w1 = [5,8,3,5,12,10,15,9,10,20]
# remove all 12 and 5
for i in w1:
    if i not in [5]:
        print(i,end=' ')

8 3 12 10 15 9 10 20

In [52]:
w1 = [5,8,3,5,12,10,15,9,10,20]
i = 0                # start
while i < len(w1):   # end
    if w1[i] not in (5,12):
        print(w1[i],end=' ')
    i += 1           # step

8 3 10 15 9 10 20

#### 7) insert(index,element)
Inserts the element at the specified index

In [56]:
w = [5,7,9,15,18,20,25]
print(w)
w.insert(3,'Python')  # inserts element at index 3
print(w)
w.insert(6,'SQL')    # inserts element at index 6
print(w)
w.insert(-4,'List')  # inserts element at index -5
print(w)
w.insert(15,70)  # inserts element at right end
print(w)
w.insert(-17,100)  # inserts element at left end
print(w)

[5, 7, 9, 15, 18, 20, 25]
[5, 7, 9, 'Python', 15, 18, 20, 25]
[5, 7, 9, 'Python', 15, 18, 'SQL', 20, 25]
[5, 7, 9, 'Python', 15, 'List', 18, 'SQL', 20, 25]
[5, 7, 9, 'Python', 15, 'List', 18, 'SQL', 20, 25, 70]
[100, 5, 7, 9, 'Python', 15, 'List', 18, 'SQL', 20, 25, 70]

In [60]:
num = [6,8,9,12,'Python','SQL']
print(num)
num[2] = 'ML'
print(num)

[6, 8, 9, 12, 'Python', 'SQL']
[6, 8, 'ML', 12, 'Python', 'SQL']


#### 8) sort(reverse)
sorts list element in asc or desc order. Reverse is False by default.

In [66]:
w = [5,8,4,1.4,10,1.5,11,12]
print(w)
w.sort() # asc order
print(w)
w.sort(reverse=True)  # desc order
print(w)

[5, 8, 4, 1.4, 10, 1.5, 11, 12]
[1.4, 1.5, 4, 5, 8, 10, 11, 12]
[12, 11, 10, 8, 5, 4, 1.5, 1.4]

In [70]:
#### ASCII Code - American Standard Code for Information Interchange
# A-Z = 65-90
# a-z = 97-122

# chr - returns character for the ASCII code
# ord - returns ASCII code for the character code
print(chr(65),chr(90))
print(ord('A'),ord('Z'))

A Z
65 90

In [73]:
w = ['Cricket','zebra','football','Tennis','Crayons','habbit','Welcome']
print(w)
w.sort()  # asc order
print(w)
w.sort(reverse=True)
print(w)

['Cricket', 'zebra', 'football', 'Tennis', 'Crayons', 'habbit', 'Welcome']
['Crayons', 'Cricket', 'Tennis', 'Welcome', 'football', 'habbit', 'zebra']
['zebra', 'habbit', 'football', 'Welcome', 'Tennis', 'Cricket', 'Crayons']

In [ ]:
# count, index, pop, remove, sort, insert, clear

#### 9) append(element)
It adds an element to the end of the list(right end)

In [79]:
w = [5,7]
print(w)
w.append(10)
print(w)
w.append('SQL')
print(w)

[5, 7]
[5, 7, 10]
[5, 7, 10, 'SQL']

In [83]:
a = [5,8]
print(a)
a.append([10,14])
print(a)
print(len(a))
a.append(['Python','List'])
print(a)

[5, 8]
[5, 8, [10, 14]]
3
[5, 8, [10, 14], ['Python', 'List']]
[5, 8, [10, 14], ['Python', 'List'], 75]

In [91]:
s = [5, 8, [10, 14],['Python', 'List']]
print(s[0],s[1])
print(s[2])
print(s[2][0],s[2][1])
print(s[3])
print(s[3][1])

5 8
[10, 14]
10 14
['Python', 'List']
List

#### Iterators or iterables
Entities on which iteration is possible<br>
Examples - str,list(),tuple(),set(),dict(),range() etc

#### 10) extend()
It adds an element to the end of the list(right end) from an iterator(adds element of the iterator)

In [94]:
b = [8,11]
print(b)
b.extend(30)  # err => 30 is not an iterable
print(b)

[8, 11]

TypeError: 'int' object is not iterable

In [95]:
r = [4,8]
print(r)
r.extend([10,12])  # [10,12] => list => iterator
print(r)

[4, 8]
[4, 8, 10, 12]

#### Difference between append and extend

In [100]:
v = [10,15]
print(v)
v.append([5,7])
print(v)
v.extend([18,20])  # elements are added at end from inside the iterator
print(v)
v.append('Python')
print(v)
v.extend('SQL')   # elements are added at end from inside the iterator
print(v)

[10, 15]
[10, 15, [5, 7]]
[10, 15, [5, 7], 18, 20]
[10, 15, [5, 7], 18, 20, 'Python']
[10, 15, [5, 7], 18, 20, 'Python', 'S', 'Q', 'L']

In [105]:
w = [5,7,8]
print(w)
w.extend([12,[15,35],'List']) # elements are added at end from inside the iterator
print(w)

[5, 7, 8]
[5, 7, 8, 12, [15, 35], 'List']

In [112]:
w = [10,20]
print(w)
w.extend('SQL')  # outer iterable is str 
print(w)
w.extend(['Laptop']) # outer iterable is list
print(w)

[10, 20]
[10, 20, 'S', 'Q', 'L']
[10, 20, 'S', 'Q', 'L', 'Laptop']

#### Populate an empty list

#### Generate a list containing all even numbers between 30 and 50 (both inclusive)

In [2]:
t = [] # empty list
for i in range(31,51,2):  # start=31,end=51,step=+2
    t.append(i)
print(t)

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

#### Q1) Seperate even and odd numbers from the below list. Store result in separate list.
num = [7,12,5,15,8,10,18,3,20]

#### Q2) Accept a list of Fruits from user(in lower case) and print even index fruits in upper case and odd index fruits in lower case.


#### Q3) For the given list, find all the even elements present at the odd index. Store result in a list

w = [24,57,78,25,83,95,24,80,21,20,24,27]

#### Q4) Find all pair of 2 numbers whose sum when add becomes 20 from the given list
w = [8,2,11,10,9,12,6,21,5,4]

In [119]:
# Q1
num = [7,12,5,15,8,10,18,3,20]
even, odd = [],[]
for i in num:
    if i%2==0 :
        even.append(i)
    else:
        odd.append(i)
print('Even',even)
print('Odd',odd)

Even [12, 8, 10, 18, 20]
Odd [7, 5, 15, 3]

In [4]:
# Q2) 
fruits = ['mango','apple','avacado','orange','watermelon','grapes']
for i in range(len(fruits)):
    if i%2==0:
        print(fruits[i].upper())
    else:
        print(fruits[i].lower())

MANGO
apple
AVACADO
orange
WATERMELON
grapes

In [7]:
# Q3) # find even elements at odd index
w = [24,57,78,25,83,95,24,80,21,20,24,27]
res =  []
for i in range(len(w)):
    if i%2!=0 :         # odd index
        if w[i]%2==0 :  # even element/num
            res.append(w[i])
print(res)

[80, 20]

In [9]:
for i in range(1,4):      # i = 1,2,3
    for j in range(1,4):  # j =1,2,3
        print('i',i,'j',j)

i 1 j 1
i 1 j 2
i 1 j 3
i 2 j 1
i 2 j 2
i 2 j 3
i 3 j 1
i 3 j 2
i 3 j 3

In [11]:
# Q4) 
w = [8,2,11,10,9,12,6,21,5,4]
for i in w:               
    for j in w:
        if i+j == 20:
            print((i,j),end=' ')

(8, 12) (11, 9) (10, 10) (9, 11) (12, 8)

In [12]:
w = [8,2,11,10,9,12,6,21,5,4]
sum20  = []
for i in w:               
    for j in w:
        if i+j == 20:
            sum20.append((i,j))
print(sum20)

[(8, 12), (11, 9), (10, 10), (9, 11), (12, 8)]

#### List/Tuple Properties

1) List/Tuple can be concatenated by + operator.<br>
2) List/Tuple elements can be repeated with * operator.

In [16]:
a,b = (1,2,3),(7,10)
print(a+b)  # concatenation
print(a*2)  # repeatition => repeat list 2 times

(1, 2, 3, 7, 10)
(1, 2, 3, 1, 2, 3)